<h2>attendee Details</h2>

<hr />
<%= @attendee.first_name %>
<%= @attendee.last_name %>
<%= @attendee.email %>
<%= @attendee.location %>
<%= @attendee.date %>
<%= @attendee.time %>
<%= @attendee.event_pref %>
<%= @attendee.food_pref %>
<hr />

